.nameText{
    color: red;
}
.nabvarCard{
    width: 100%;
    height: 10vh;
    color: yellow;
    background-color: red;
    font-size: 30pt;
}
.cardText{
    width: 100%;
    height: 50vh;
    color: white;
    background-color: blue;
    font-size: 100pt;
}